.loader {
  height: 48px;
  position: relative;
  width: 48px;
  display: flex;
  align-items: center;

  &:after {
    content: '';
    display: block;
    position: relative;
    height: 1px;
    background: rgba(var(--dark-rgb), 0.35);
    animation: loader 1.5s var(--ease) infinite;
  }
}

@keyframes loader {
  0% {
    transform: translateX(0);
    width: 0;
  }
  40% {
    transform: translateX(0);
    width: 100%;
  }
  80% {
    transform: translateX(48px);
    width: 0;
  }
  100% {
    transform: translateX(48px);
    width: 0;
  }
}
